<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
  	<script src="http://d3js.org/d3.v3.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css'>
    <style>
    
    body { 
      font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; 
    }
    text {
      font-size: 16px;     
    }
    
    </style>
  </head>
  <body>
    <p>Contributions by language</p>
    <script>

    var data = <%= languages %>;

    var width = 960,
        height = 500,
        radius = Math.min(width, height) / 2,
        labelRadius = 150,
        transitionTime = 2000;

    var color = d3.scale.category20();

    var arc = d3.svg.arc()
        .outerRadius(radius - 10);

    var pie = d3.layout.pie()
        .sort(null)
        .value(function(d) { return d.count; });

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    data.forEach(function(d) {
      d.count = +d.count;
    });

    var g = svg.selectAll(".arc")
      .data(pie(data))
      .enter().append("g")
        .attr("class", "arc");

    g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.name); })
      .transition()
      .ease("bounce")
      .duration(transitionTime)
      .attrTween("d", tweenPie);

    g.append("text")
      .attr("transform", function(d) {
      return "translate(" + 
        ( (labelRadius - 12) * Math.sin( ((d.endAngle - d.startAngle) / 2) + d.startAngle ) ) +
        ", " +
        ( -1 * (labelRadius - 12) * Math.cos( ((d.endAngle - d.startAngle) / 2) + d.startAngle ) ) + ")";})
      .style("text-anchor", "middle")
      .text(function(d) { return d.data.name; })
      .attr("font-size","14px")
      .style("opacity", 0)
      .transition()
      .duration(transitionTime)
      .style("opacity", 1);

    function tweenPie(b) {
      var i = d3.interpolate({startAngle: 0, endAngle: 0}, b);
      return function(t) { return arc(i(t)); };
    }
    </script>
  </body>
</html>